---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts/fake_account_id/availableservices?api_key=fake_api_key&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Rate-Limit-Limit:
      - '1000'
      Rate-Limit-Remaining:
      - '994'
      Rate-Limit-Reset:
      - '1516482000'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"bd5848b1-e47b-4ed5-a104-235c4f88d4b1","errors":[]},"response":{"availableServices":[{"sku":"DEV-00010000","serviceDescription":"Location
        Cloud Starter","agreementId":"3338"},{"sku":"DEV-00010001","serviceDescription":"Location
        Cloud Professional","agreementId":"3338"},{"sku":"DEV-00010005","serviceDescription":"Healthcare
        Add-On","agreementId":"3338"}],"count":3}}'
  recorded_at: Sat, 20 Jan 2018 20:16:07 GMT
recorded_with: VCR 4.0.0
