<!DOCTYPE html>
<html>
<head>
  <title>Yext Api</title>
  <%= stylesheet_link_tag    "yext/api/application", media: "all" %>
  <%= javascript_include_tag "yext/api/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
