---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts/my-test-account-id-2/optimizationtasks?api_key=fake_api_key&taskIds=1%2C2%2C3%2C4&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '5000'
      rate-limit-remaining:
      - '4994'
      rate-limit-reset:
      - '1518807600'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"70ed8b95-f5d8-4d70-8e00-191ab22d467e","errors":[]},"response":{"optimizationTasks":[{"id":1,"name":"Add
        a logo","description":"Help customers recognize your brand or storefront.","locationsEligible":1,"locationsCompleted":0},{"id":2,"name":"Update
        your featured message","description":"Create a clickable promotional message
        that appears on listings and search results pages.","locationsEligible":1,"locationsCompleted":0},{"id":3,"name":"Add
        a business description","description":"Include keywords to get you found in
        relevant searches.","locationsEligible":1,"locationsCompleted":0},{"id":4,"name":"Add
        additional categories","description":"Get found in more category-based local
        searches.","locationsEligible":1,"locationsCompleted":0}]}}'
  recorded_at: Fri, 16 Feb 2018 18:27:09 GMT
recorded_with: VCR 4.0.0
