---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/categories?api_key=fake_api_key&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Rate-Limit-Limit:
      - '5000'
      Rate-Limit-Remaining:
      - '4997'
      Rate-Limit-Reset:
      - '1516482000'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"014ae336-0c1d-425e-a033-1b4749515346","errors":[]},"response":[{"id":"368","name":"Agriculture
        \u0026 Industry","fullName":"Agriculture \u0026 Industry","selectable":false},{"id":"1","parentId":"368","name":"Agriculture
        \u0026 Farming","fullName":"Agriculture \u0026 Industry \u003e Agriculture
        \u0026 Farming","selectable":true},{"id":"2096","parentId":"1","name":"Aerial
        Applicators","fullName":"Agriculture \u0026 Industry \u003e Agriculture \u0026
        Farming \u003e Aerial Applicators","selectable":true},{"id":"2311","parentId":"1","name":"Agricultural
        Services","fullName":"Agriculture \u0026 Industry \u003e Agriculture \u0026
        Farming \u003e [...]
