---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts/fake_account_id/services?api_key=fake_api_key&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Rate-Limit-Limit:
      - '1000'
      Rate-Limit-Remaining:
      - '993'
      Rate-Limit-Reset:
      - '1516482000'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"9ffd6eec-10d8-4b29-9291-575e1ccaf0a4","errors":[]},"response":{"count":3,"services":[{"id":147468,"sku":"DEV-00010001","serviceDescription":"Location
        Cloud Professional","agreementId":3338,"locationId":"ct-mukilteo","locationAccountId":"ct-dustin","status":"ACTIVE","started":"2018-01-10"},{"id":147392,"sku":"DEV-00010000","serviceDescription":"Location
        Cloud Starter","agreementId":3338,"locationId":"65465465","locationAccountId":"5465456","status":"ACTIVE","started":"2018-01-09"},{"id":147173,"sku":"DEV-00010000","serviceDescription":"Location
        Cloud Starter","agreementId":3338,"locationId":"ctpinck","locationAccountId":"ctpinck","status":"ACTIVE","started":"2018-01-03"}]}}'
  recorded_at: Sat, 20 Jan 2018 20:16:07 GMT
recorded_with: VCR 4.0.0
