---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts/fake_account_id/roles?api_key=fake_api_key&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '5000'
      rate-limit-remaining:
      - '4998'
      rate-limit-reset:
      - '1517857200'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"2c438edc-dcf4-4422-bc57-924cc7ad02f3","errors":[]},"response":{"roles":[{"id":"1","name":"Full
        Control"},{"id":"3","name":"Location Manager"},{"id":"20","name":"Account
        Admin"},{"id":"42","name":"Location Manager + Linked Accounts"},{"id":"56","name":"Report
        Admin"},{"id":"57","name":"Review only (dlin test)"},{"id":"103","name":"Account
        Admin + Widgets"},{"id":"105","name":"Social and Reviews"},{"id":"106","name":"View
        Only with Duplicate Suppression"},{"id":"196","name":"Partner: Full Control
        Minus Billing"},{"id":"238","name":"Account Admin + Widgets + Social Posting"},{"id":"239","name":"Store
        Manager - General"}],"count":12}}'
  recorded_at: Mon, 05 Feb 2018 18:39:57 GMT
recorded_with: VCR 4.0.0
