---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts/my-test-account-id-2/optimizationlink?api_key=fake_api_key&locationId=my-test-location-id-2&taskIds=1&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '5000'
      rate-limit-remaining:
      - '4996'
      rate-limit-reset:
      - '1518804000'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"e5308a0a-7799-473e-834c-17a1d4ad380b","errors":[]},"response":{"link":"https://sandbox.yext.com/users/tokens/h39X13i4exk"}}'
  recorded_at: Fri, 16 Feb 2018 17:52:07 GMT
recorded_with: VCR 4.0.0
