---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts/my-test-account-id-2/optimizationlink?api_key=fake_api_key&locationId=my-test-location-id-2&mode=PENDING_ONLY&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '5000'
      rate-limit-remaining:
      - '4994'
      rate-limit-reset:
      - '1518804000'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"02e3e503-b0b7-4888-be3b-4363c945a883","errors":[]},"response":{"link":"https://sandbox.yext.com/users/tokens/FFBzTtX178k"}}'
  recorded_at: Fri, 16 Feb 2018 17:52:09 GMT
recorded_with: VCR 4.0.0
