---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts?api_key=fake_api_key&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '5000'
      rate-limit-remaining:
      - '4997'
      rate-limit-reset:
      - '1517533200'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"71305e78-fda5-4f0e-b61b-ef75e704e995","errors":[]},"response":{"count":5,"accounts":[{"accountId":"fake_account_id","locationCount":0,"subAccountCount":4,"accountName":"CardTapp","contactFirstName":"CardTapp","contactLastName":"Development","contactPhone":"","contactEmail":"yext_development@cardtapp.com"},{"accountId":"ctpinck","locationCount":1,"subAccountCount":0,"parentAccountId":"fake_account_id","accountName":"Cardtapp:
        Pascal Pinck","contactFirstName":"CardTapp","contactLastName":"Development","contactPhone":"","contactEmail":"yext_development@cardtapp.com"},{"accountId":"ct-dustin","locationCount":1,"subAccountCount":0,"parentAccountId":"fake_account_id","accountName":"CardTapp
        North","contactFirstName":"CardTapp","contactLastName":"Development","contactPhone":"","contactEmail":"yext_development@cardtapp.com"},{"accountId":"5465456","locationCount":1,"subAccountCount":0,"parentAccountId":"fake_account_id","accountName":"xzxcxcczx","contactFirstName":"CardTapp","contactLastName":"Development","contactPhone":"","contactEmail":"yext_development@cardtapp.com"},{"accountId":"my-test-account-id-2","locationCount":1,"subAccountCount":0,"parentAccountId":"fake_account_id","accountName":"RSpec
        Test Account 2","contactFirstName":"CardTapp","contactLastName":"Development","contactPhone":"","contactEmail":"yext_development@cardtapp.com"}]}}'
  recorded_at: Fri, 02 Feb 2018 00:32:46 GMT
recorded_with: VCR 4.0.0
