---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts/my-test-account-id-2/optimizationlink?api_key=fake_api_key&locationId=my-test-location-id-2&taskIds=1%2C2%2C3%2C4&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '5000'
      rate-limit-remaining:
      - '4995'
      rate-limit-reset:
      - '1518804000'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"49b57fa2-b02c-4d64-b923-8bce8f439b9a","errors":[]},"response":{"link":"https://sandbox.yext.com/users/tokens/tS2d3Msu-2U"}}'
  recorded_at: Fri, 16 Feb 2018 17:52:08 GMT
recorded_with: VCR 4.0.0
