---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts/my-test-account-id-2/powerlistings/publishers?api_key=fake_api_key&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '5000'
      rate-limit-remaining:
      - '4991'
      rate-limit-reset:
      - '1519264800'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"d1da6d9e-8daf-44a8-b1ef-3b9dc46c0fb4","errors":[]},"response":{"publishers":[{"id":"MAPQUEST","name":"MapQuest
        Tags","url":"mapquest.com","alternateBrands":[],"supportedCountries":["CA","US"],"supportedLocationTypes":["LOCATION","HEALTHCARE_PROFESSIONAL","HEALTHCARE_FACILITY","ATM","RESTAURANT"],"features":["DUAL_SYNC"],"typicalUpdateSpeed":"1800"},{"id":"SUPERPAGES","name":"Superpages","url":"superpages.com","alternateBrands":[{"name":"DexKnows","url":"dexknows.com"}],"supportedCountries":["US"],"supportedLocationTypes":["LOCATION","HEALTHCARE_PROFESSIONAL","HEALTHCARE_FACILITY","RESTAURANT"],"features":["DUAL_SYNC"],"typicalUpdateSpeed":"259200"},{"id":"YELP","name":"Yelp","url":"yelp.com","alternateBrands":[],"supportedCountries":["AR","AT","AU","BE","BR","CA","CH","CL","CZ","DE","DK","ES","FI","FR","GB","GU","HK","IE","IT","JP"[...]
