---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts/fake_account_id/addrequests/223779?api_key=fake_api_key&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '1000'
      rate-limit-remaining:
      - '995'
      rate-limit-reset:
      - '1516827600'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"ccc740b8-aa68-4f43-818a-b1fe6ebd5b90","errors":[]},"response":{"id":223779,"locationMode":"EXISTING","existingLocationId":"ct-mukilteo","skus":["DEV-00010001"],"agreementId":3338,"status":"COMPLETE","dateSubmitted":"2018-01-10T17:57:34","dateCompleted":"2018-01-10T17:57:34","statusDetail":"The
        request was completed and the specified services were started."}}'
  recorded_at: Wed, 24 Jan 2018 20:41:40 GMT
recorded_with: VCR 4.0.0
