---
http_interactions:
- request:
    method: post
    uri: https://sandbox.yext.com/v2/accounts/fake_account_id/newlocationaddrequests?api_key=fake_api_key&v=20161012
    body:
      encoding: UTF-8
      string: '{"newLocationId":"my-test-location-id-1","newLocationAccountId":"my-test-account-id-1","newLocationAccountName":"RSpec
        Test Account 1","skus":["DEV-00010000"],"forceReview":true,"newLocationData":{"id":"my-test-location-id-1","locationType":"LOCATION","locationName":"RSpec
        Test Location 1","address":"1313 Mockingbird Ln.","address2":"Suite 100","suppressAddress":true,"city":"Anchorage","state":"AK","zip":"90210","phone":"425-555-1212","categoryIds":["1146752"],"featuredMessage":"This
        is so cool!","featuredMessageUrl":"https://www.cardtapp.com/buy","websiteUrl":"https://www.cardtapp.com","description":"My
        cool RSpec location","emails":["1@1.com"]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '1000'
      rate-limit-remaining:
      - '999'
      rate-limit-reset:
      - '1517007600'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"4bd9bfe0-dcec-4317-83e5-1949c67da073","errors":[]},"response":{"id":224756,"locationMode":"NEW","newLocationId":"my-test-location-id-1","newLocationAccountId":"my-test-account-id-1","newLocationAccountName":"RSpec
        Test Account 1","newLocationData":{"id":"my-test-location-id-1","locationName":"RSpec
        Test Location 1","address":"1313 Mockingbird Ln.","address2":"Suite 100","city":"Anchorage","state":"AK","zip":"90210",
        "countryCode":"US","language":"en","suppressAddress":true,"phone":"425-555-1212","categoryIds":["1146752"],"featuredMessage":"This
        is so cool!","featuredMessageUrl":"https://www.cardtapp.com/buy","websiteUrl":"https://www.cardtapp.com","description":"My
        cool RSpec location","emails":["1@1.com"],"locationType":"LOCATION"},"skus":["DEV-00010000"],"agreementId":3338,"status":"SUBMITTED","dateSubmitted":"2018-01-26T17:38:38","statusDetail":"The
        request has been submitted for processing. Updated status should be available
        soon, usually within seconds."}}'
  recorded_at: Fri, 26 Jan 2018 22:38:38 GMT
recorded_with: VCR 4.0.0
