---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts/fake_account_id/addrequests?api_key=fake_api_key&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '1000'
      rate-limit-remaining:
      - '989'
      rate-limit-reset:
      - '1516986000'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"1f50bc81-db70-4eb7-9b13-32f283dc647a","errors":[]},"response":{"addRequests":[{"id":223779,"locationMode":"EXISTING","existingLocationId":"ct-mukilteo","skus":["DEV-00010001"],"agreementId":3338,"status":"COMPLETE","dateSubmitted":"2018-01-10T17:57:34","dateCompleted":"2018-01-10T17:57:34","statusDetail":"The
        request was completed and the specified services were started."},{"id":223698,"locationMode":"NEW","newLocationId":"65465465","newLocationAccountId":"5465456","skus":["DEV-00010000"],"agreementId":3338,"status":"COMPLETE","dateSubmitted":"2018-01-09T16:16:20","dateCompleted":"2018-01-09T16:16:21","statusDetail":"The
        request was completed and the specified services were started. Account ID
        5465456 was created by this request. Location ID 65465465 was created in this
        request."},{"id":223571,"locationMode":"NEW","newLocationId":"ct-mukilteo","newLocationAccountId":"ct-dustin","skus":["DEV-00010000"],"agreementId":3338,"status":"COMPLETE","dateSubmitted":"2018-01-05T17:55:30","dateCompleted":"2018-01-05T17:55:30","statusDetail":"The
        request was completed and the specified services were started. Account ID
        ct-dustin was created by this request. Location ID ct-mukilteo was created
        in this request."},{"id":223423,"locationMode":"NEW","newLocationId":"ctpinck","newLocationAccountId":"ctpinck","skus":["DEV-00010000"],"agreementId":3338,"status":"COMPLETE","dateSubmitted":"2018-01-03T17:13:16","dateCompleted":"2018-01-03T17:13:16","statusDetail":"The
        request was completed and the specified services were started. Account ID
        ctpinck was created by this request. Location ID ctpinck was created in this
        request."}],"count":4}}'
  recorded_at: Fri, 26 Jan 2018 16:30:50 GMT
recorded_with: VCR 4.0.0
