---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts?api_key=fake_api_key&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '5000'
      rate-limit-remaining:
      - '4997'
      rate-limit-reset:
      - '1516986000'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"c7d49aa8-87f4-4dd6-bb97-0ab99d696366","errors":[]},"response":{"count":4,"accounts":[{"accountId":"fake_account_id","locationCount":0,"subAccountCount":3,"accountName":"CardTapp","contactFirstName":"CardTapp","contactLastName":"Development","contactPhone":"","contactEmail":"yext_development@cardtapp.com"},{"accountId":"ctpinck","locationCount":1,"subAccountCount":0,"parentAccountId":"fake_account_id","accountName":"Cardtapp:
        Pascal Pinck","contactFirstName":"CardTapp","contactLastName":"Development","contactPhone":"","contactEmail":"yext_development@cardtapp.com"},{"accountId":"ct-dustin","locationCount":1,"subAccountCount":0,"parentAccountId":"fake_account_id","accountName":"CardTapp
        North","contactFirstName":"CardTapp","contactLastName":"Development","contactPhone":"","contactEmail":"yext_development@cardtapp.com"},{"accountId":"5465456","locationCount":1,"subAccountCount":0,"parentAccountId":"fake_account_id","accountName":"xzxcxcczx","contactFirstName":"CardTapp","contactLastName":"Development","contactPhone":"","contactEmail":"yext_development@cardtapp.com"}]}}'
  recorded_at: Fri, 26 Jan 2018 16:30:50 GMT
recorded_with: VCR 4.0.0
