---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts?api_key=fake_api_key&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Rate-Limit-Limit:
      - '5000'
      Rate-Limit-Remaining:
      - '4998'
      Rate-Limit-Reset:
      - '1516575600'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"39708987-a7bb-4eda-bb60-09a768a388cd","errors":[]},"response":{"count":4,"accounts":[{"accountId":"1273878","locationCount":0,"subAccountCount":3,"accountName":"CardTapp","contactFirstName":"CardTapp","contactLastName":"Development","contactPhone":"","contactEmail":"yext_development@cardtapp.com"},{"accountId":"ctpinck","locationCount":1,"subAccountCount":0,"parentAccountId":"1273878","accountName":"Pascal
        Pinck, Cardtapp","contactFirstName":"CardTapp","contactLastName":"Development","contactPhone":"","contactEmail":"yext_development@cardtapp.com"},{"accountId":"ct-dustin","locationCount":1,"subAccountCount":0,"parentAccountId":"1273878","accountName":"CardTapp
        North","contactFirstName":"CardTapp","contactLastName":"Development","contactPhone":"","contactEmail":"yext_development@cardtapp.com"},{"accountId":"5465456","locationCount":1,"subAccountCount":0,"parentAccountId":"1273878","accountName":"xzxcxcczx","contactFirstName":"CardTapp","contactLastName":"Development","contactPhone":"","contactEmail":"yext_development@cardtapp.com"}]}}'
  recorded_at: Sun, 21 Jan 2018 22:53:29 GMT
recorded_with: VCR 4.0.0
