---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts/fake_account_id/availableservices?api_key=fake_api_key&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '1000'
      rate-limit-remaining:
      - '996'
      rate-limit-reset:
      - '1516986000'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"a02d03e8-909a-4410-a6c6-3f2095deba4a","errors":[]},"response":{"availableServices":[{"sku":"DEV-00010000","serviceDescription":"Location
        Cloud Starter","agreementId":"3338"},{"sku":"DEV-00010001","serviceDescription":"Location
        Cloud Professional","agreementId":"3338"},{"sku":"DEV-00010005","serviceDescription":"Healthcare
        Add-On","agreementId":"3338"}],"count":3}}'
  recorded_at: Fri, 26 Jan 2018 16:30:46 GMT
recorded_with: VCR 4.0.0
