---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts/fake_account_id/addrequests/223779?api_key=fake_api_key&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '1000'
      rate-limit-remaining:
      - '992'
      rate-limit-reset:
      - '1516986000'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"28f1e56b-cb99-4955-8636-c5874d538d45","errors":[]},"response":{"id":223779,"locationMode":"EXISTING","existingLocationId":"ct-mukilteo","skus":["DEV-00010001"],"agreementId":3338,"status":"COMPLETE","dateSubmitted":"2018-01-10T17:57:34","dateCompleted":"2018-01-10T17:57:34","statusDetail":"The
        request was completed and the specified services were started."}}'
  recorded_at: Fri, 26 Jan 2018 16:30:49 GMT
recorded_with: VCR 4.0.0
