---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts/fake_account_id/addrequests/224757?api_key=fake_api_key&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '1000'
      rate-limit-remaining:
      - '997'
      rate-limit-reset:
      - '1517356800'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"3e58f387-383f-4df3-b253-8fe3ecaec455","errors":[]},"response":{"id":224757,"locationMode":"NEW","newLocationId":"my-test-location-id-2","newLocationAccountId":"my-test-account-id-2","newLocationAccountName":"RSpec
        Test Account 2","skus":["DEV-00010000"],"agreementId":3338,"status":"COMPLETE","dateSubmitted":"2018-01-26T18:38:29","dateCompleted":"2018-01-30T13:20:33","statusDetail":"The
        request was completed and the specified services were started. Account ID
        my-test-account-id-2 was created by this request. Location ID my-test-location-id-2
        was created in this request."}}'
  recorded_at: Tue, 30 Jan 2018 23:41:55 GMT
recorded_with: VCR 4.0.0
