---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts/fake_account_id/locations?api_key=fake_api_key&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '5000'
      rate-limit-remaining:
      - '4998'
      rate-limit-reset:
      - '1516986000'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"27b05724-625c-43f0-8b7f-c934cbbf5bd2","errors":[]},"response":{"count":0,"locations":[]}}'
  recorded_at: Fri, 26 Jan 2018 16:30:48 GMT
recorded_with: VCR 4.0.0
