---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts/fake_account_id/locations?Id=fred&api_key=fake_api_key&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '5000'
      rate-limit-remaining:
      - '4999'
      rate-limit-reset:
      - '1516816800'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"a571216e-f76a-4c8c-8f61-44bded129941","errors":[]},"response":{"count":0,"locations":[]}}'
  recorded_at: Wed, 24 Jan 2018 17:32:02 GMT
recorded_with: VCR 4.0.0
