---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts/fake_account_id/locations?api_key=fake_api_key&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '5000'
      rate-limit-remaining:
      - '4999'
      rate-limit-reset:
      - '1516651200'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"6ac2075e-1bc5-41f8-8847-de958c119db5","errors":[]},"response":{"count":0,"locations":[]}}'
  recorded_at: Mon, 22 Jan 2018 19:08:08 GMT
recorded_with: VCR 4.0.0
