---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts/my-test-account-id-2/optimizationlink?api_key=fake_api_key&locationId=my-test-location-id-2&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '5000'
      rate-limit-remaining:
      - '4997'
      rate-limit-reset:
      - '1518804000'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"1c88f5b9-3b21-4e69-ab75-cc83eda1e4a4","errors":[]},"response":{"link":"https://sandbox.yext.com/users/tokens/FFBzTtX178k"}}'
  recorded_at: Fri, 16 Feb 2018 17:47:18 GMT
recorded_with: VCR 4.0.0
