---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts/ct-dustin?api_key=fake_api_key&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '5000'
      rate-limit-remaining:
      - '4995'
      rate-limit-reset:
      - '1516986000'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"f766eb4d-36b1-4941-a351-7ff7eeca68ee","errors":[]},"response":{"accountId":"ct-dustin","locationCount":1,"subAccountCount":0,"parentAccountId":"fake_account_id","accountName":"CardTapp
        North","contactFirstName":"CardTapp","contactLastName":"Development","contactPhone":"","contactEmail":"yext_development@cardtapp.com"}}'
  recorded_at: Fri, 26 Jan 2018 16:30:51 GMT
recorded_with: VCR 4.0.0
