---
http_interactions:
- request:
    method: get
    uri: https://sandbox.yext.com/v2/accounts/ct-dustin?api_key=fake_api_key&v=20161012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Rate-Limit-Limit:
      - '5000'
      Rate-Limit-Remaining:
      - '4999'
      Rate-Limit-Reset:
      - '1516575600'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"15766b96-c8d1-4bee-9616-a0c5110f901f","errors":[]},"response":{"accountId":"ct-dustin","locationCount":1,"subAccountCount":0,"parentAccountId":"1273878","accountName":"CardTapp
        North","contactFirstName":"CardTapp","contactLastName":"Development","contactPhone":"","contactEmail":"yext_development@cardtapp.com"}}'
  recorded_at: Sun, 21 Jan 2018 22:53:28 GMT
recorded_with: VCR 4.0.0
