---
http_interactions:
- request:
    method: put
    uri: https://sandbox.yext.com/v2/accounts/my-test-account-id-2/powerlistings/listings/optin?api_key=fake_api_key&v=20161012
    body:
      encoding: UTF-8
      string: '{"publisherIds":"NOKIA"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-limit:
      - '5000'
      rate-limit-remaining:
      - '4981'
      rate-limit-reset:
      - '1519268400'
    body:
      encoding: UTF-8
      string: '{"meta":{"uuid":"1d7c132f-fecf-492f-b959-0ea39ceb0e5f","errors":[]},"response":{}}'
  recorded_at: Thu, 22 Feb 2018 02:28:23 GMT
recorded_with: VCR 4.0.0
